TScratch_src.zip filter=lfs diff=lfs merge=lfs -text
tscratch_nomcr_pkg.zip filter=lfs diff=lfs merge=lfs -text
tscratch_nomcr_win.zip filter=lfs diff=lfs merge=lfs -text
tscratch_pkg_simple.zip filter=lfs diff=lfs merge=lfs -text
tscratch_win.zip filter=lfs diff=lfs merge=lfs -text
